.footer {
  width: 100vw;
  height: 100px;

  padding: 0px 170px;

  position: absolute;
  bottom: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #011116;
}

.footer .navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navlist img {
  cursor: pointer;

  width: 30px;
  height: 30px;

  list-style: none;
  font-family: sans-serif;
  color: #FFFFFF;
}